@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@300&family=Yantramanav:wght@300;900&display=swap');


:root{
  --primary-white: #fff;
  --primary-purple: #d434fe;
  --primary-blue: #150e28;
  --primary-light-blue: #9038ff;
  --primary-black: black;
}



/***********NavBar******************/

nav{
  background-color: var(--primary-blue);
  border-bottom: 1px solid var(--primary-black);
}

.navbar-brand{
  margin: 1rem 2rem 0;
  font-size: 2rem !important;
  font-weight: bolder;
  font-family: 'Yantramanav', sans-serif;
}

.navbar-nav{
  margin: 1.2rem 0 0 auto;
}

.navbar-nav li a{
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  margin-right: 1rem;
  margin-left: 1rem;
  color: var(--primary-white);
}

.navbar-nav li a:hover{
  color: var(--primary-purple);
}

.btnn{
  font-family: 'Montserrat', sans-serif;
  margin: .8rem 2rem 0 1rem;
  width: 172px;
  height: 52px;
  border: none;
  border-radius: 3px;
  color: var(--primary-white) !important;
  background: linear-gradient(100deg, #FF26B9, var(--primary-purple), var(--primary-light-blue)) !important;
  text-transform: capitalize;
}
