

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400;1,500;1,700&family=Rubik:wght@300&family=Unica+One&family=Yantramanav:wght@300;900&display=swap');


:root{
  --primary-white: #fff;
  --primary-purple: #d434fe;
  --primary-blue: #150e28;
  --primary-blue-purple: #28183b;
  --primary-light-blue: #9038ff;
  --primary-black: rgb(78, 74, 74);
  --primary-pink: #FF26B9;
}

.btnn{
  font-family: 'Montserrat', sans-serif;
  margin: .8rem 7rem 0 0;
  width: 172px;
  height: 45px;
  border: none;
  border-radius: 3px;
  color: var(--primary-white) !important;
  background: linear-gradient(100deg, var(--primary-pink), var(--primary-purple), var(--primary-light-blue)) !important;
  text-transform: capitalize;
}

span{
  color: var(--primary-purple);
}

h2{
  font-family: 'Yantramanav', sans-serif;
}

p,
h3{
  font-family: 'Montserrat', sans-serif;
}

/***********NavBar******************/

nav{
  background-color: var(--primary-blue);
  border-bottom: 1px solid var(--primary-black);
}

.navbar-brand{
  margin: 1rem 4rem 0;
  font-size: 2rem !important;
  font-weight: bolder;
  font-family: 'Yantramanav', sans-serif;
}

.navbar-nav{
  margin: 1.2rem 4rem 0 auto;
}

.navbar-nav li a{
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  margin-right: 1rem;
  margin-left: 1rem;
  color: var(--primary-white);
}

.navbar-nav li a:hover{
  color: var(--primary-purple);
}

.btnn{
  font-family: 'Montserrat', sans-serif;
  margin: .8rem 7rem 0 0;
  width: 172px;
  height: 45px;
  border: none;
  border-radius: 3px;
  color: var(--primary-white) !important;
  background: linear-gradient(100deg, var(--primary-pink), var(--primary-purple), var(--primary-light-blue)) !important;
  text-transform: capitalize;
}




/***********Header******************/

.header{
  min-height: 100vh;
  width: 100%;
  background: var(--primary-blue);
}

.header-top{
  display: flex;
  justify-content: center;
  position: relative;
}

.header-wrap{
  background: url(../src/images/Purple-Lens-Flare-PNG.png) no-repeat;
  background-size: contain;
  background-position: center;
  height: 500px;
  width: 50vw;
  opacity: .7;
  top: -6rem;
  left: 0;
  position: absolute;
  z-index: 1;
}

.header-head{
  display: flex;
  justify-content: space-between;
  width: 90vw;
  position: absolute;
  margin-top: 2rem;
  top: 0;
}


.star{
  width: 26px;
  height: 36px;
  margin: 2rem 2rem 0;
}


.header-head h3{
  color: var(--primary-white);
  font-size: 30px;
  font-style: italic;
}

.line{
  float: right;
  margin-top: -7px;
  width: 230px;
  height: 100px;
  border: 5px solid var(--primary-pink);
  border-color: var(--primary-purple) transparent transparent transparent;
  border-radius: 80%/30px 30px ;
}

.header-main{
  position: relative;
  display: flex;
  width: 100%
}

.header-body{
  width: 60vw;
  margin: 12rem 0 0 4rem;
  color: var(--primary-white);
}

.header-body h2{
  font-size: 5rem;
  font-weight: bolder;
}

.flex{
  display: flex;
}

.flex h2{
  word-spacing: -1rem;
  font-size: 5rem;
}

.flex-img{
  position: absolute;
  top: 9rem;
  margin-left: 25.5rem;
  height: 73px;
  width: 53px;
}

.flex-img1{
  height: 86px;
  width: 86px;
}

.flex-img2{
  margin-top: 1rem;
  height: 58px;
  width: 58px;
}

.header-body p{
  width: 400px;
  font-size: 1.01rem;
}

.images{
  width: 50vw;
  margin-top: 7rem;
}

.white{
  width: 828px;
  height: 715px;
  margin-left: -11rem;
}

.glow{
  position: absolute;
  right: 4rem;
  width: 685px;
  height: 630px;
  top: 7rem;
  opacity: .8;
}

.metrix{
  position: absolute;
  width: 650px;
  top: 7rem;
  right: 0;
  opacity: .5;
}

@media screen and (max-width: 767px){
  .header-top{
    flex-direction: column;
    width: 100%;
    
  }

  .header-head{
    width: 100%;
    flex-direction: column;
    margin: auto;
  }

  .header-head h3{
    width: 90%;
    margin: auto;
    font-size: 19px;
  }

  .line{
    width: 130px;
    margin-top: 2px;
    margin-right: 2rem;
  }

  .header-main{
    flex-direction: column;
  }

  .header-body{
    width: 100%;
    margin: 9rem 0;
  }

  .header-body h2{
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 2rem;
  }

  .flex{
    width: 85%;
    margin: auto;
    align-items: center;
  }

  .flex-img{
    top: 7.3rem;
    margin-left: 18rem;
    height: 40px;
    width: 25px;
  }


  .flex span{
    margin-left: 1rem;
  }

  .flex-img1,
  .flex-img2{
    width: 30px;
    height: 40px;
  }

  .flex-img2{
    margin-top: 0;
  }

  .header-body p{
    width: 70%;
    margin: 1rem auto;
    text-align: center;

  }

  .header-body button{
    margin-left: calc((100% - 172px) / 2);
    margin-top: 1rem;
  }

  .images{
    width: 100%;
    margin-top: -4rem;
    position: relative;
  }

  .images .white{
    width: 455px;
    height: 450px;
    margin-left: calc(100% - 455px);
  }

  .glow{
    width: 480px;
    height: 430px;
    top: 0;
    right: -1.8rem;
  }

  .metrix{
    width: 450px;
    top: 0;
  }
}





@media screen and (min-width: 768px) and (max-width: 1023px){
  .header-top{
    flex-direction: column;
    width: 100%;
    
  }

  .header-head{
    width: 100%;
    flex-direction: column;
    margin: 2rem auto;
  }

  .header-head h3{
    width: 80%;
    margin: auto;
    font-size: 35px;
  }

  .line{
    width: 230px;
    margin-top: 2px;
    margin-right: 6rem;
  }

  .header-main{
    flex-direction: column;
  }

  .header-body{
    width: 100%;
    margin: 14rem auto;
  }

  .header-body h2{
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 3rem;
  }

  .flex{
    width: 60%;
    margin: auto;
    align-items: center;
  }

  .flex-img{
    top: 11.9rem;
    margin-left: 31.5rem;
    height: 50px;
    width: 35px;
  }


  .flex span{
    margin-left: 1rem;
    font-size: 2.5rem;
  }

  .flex-img1,
  .flex-img2{
    width: 50px;
    height: 60px;
  }


  .flex-img2{
    margin-top: 0;
  }

  .header-body p{
    width: 70%;
    font-size: 1.8rem;
    margin: 1rem auto;
    text-align: center;

  }

  .header-body button{
    margin-left: calc((100% - 172px) / 2);
    margin-top: 2rem;
  }

  .images{
    width: 100%;
    margin-top: -4rem;
    position: relative;
  }

  .images .white{
    width: 855px;
    height: 650px;
    margin-left: calc(100% - 855px);
  }

  .glow{
    width: 680px;
    height: 630px;
    top: 0;
    right: 7rem;
  }

  .metrix{
    width: 650px;
    top: 0;
  }
}

/***********Introduction******************/

.box{
  min-height: 80vh;
  background: var(--primary-blue);
  border-top: 1px solid var(--primary-black);
}

.box-body{
  display: flex;
  
}

.box-images{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 4rem;
  position: relative;
}

.bigIdea{
  height: 427px;
  width: 430px;
  margin: 0 4rem 0 4rem;
  
}

.star-p{
  position: absolute;
  top: 10rem;
  left: 0;
  height: 25px;
  width: 21px;
}

.arrow{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 49px;
  height: 57px;
}

.box-text{
  margin: auto 0;
  height: 80%;
  color: var(--primary-white);
  width: 519px;
}

.text-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 32px;
}

.text-head h2{
  width: 350px;
  font-weight: 600;
}

.text-head .star{
  margin-top: 1rem;
}

.box-text p{
  font-size: 14px;
  line-height: 1.6rem;
}

.box-t{
  margin-left: 4rem;
  position: relative;
}

.puple-bg{
  background: url(../src/images/Purple-Lens-Flare-PNG.png) no-repeat;
  background-size: contain;
  background-position: center;
  height: 400px;
  width: 700px;
  position: absolute;
  top: -9.8rem;
  left: -10px;
  opacity: .6;
}

.th{
  width: 250px;
  height: 150px;
}

.th h2{
  width: 200px;
  margin-top: auto;
}

.lady-img{
  margin-left: 2rem;
}

.text-head img{
  margin-bottom: auto;
}

.text-p{
  height: 210px;
  display: flex;
}

.text-p img{
  margin-top: auto;
}



@media screen and (max-width: 767px){

  .box-body{
    flex-direction: column;
    align-items: center;
  }

  .fl{
    flex-direction: column-reverse;
  }

  .bigIdea{
    width: 80vw;
    height: 327px;
  }

  .lady-img img{
    width: 400px;
    height: 400px;
  }

  .star-p{
    left: 3rem;
    top: 6rem;
    height: 20px;
    width: 20px;
  }

  .arrow{
    width: 29px;
    height: 37px;
    left: 46%;
    bottom: -2rem;
  }

  .box-text{
    width: 100%;
    margin: 0;
  }

  .box-t{
    min-height: 55vh;
  }

  .text-head{
    width: 100%;
    margin-top: 2rem;
  }

  .th{
    width: 100%;
    height: auto;
  }

  .th h2{
    width: 150px !important;
  }

  .th .star{
    margin-bottom: 0;
  }
  .text-head h2{
    font-size: 20px;
    width: 250px;
    margin: auto;
    text-align: center;
  }

  .text-head .star{
    height: 15px;
    width: 15px;
    margin-right: .8rem;
    margin-left: 0;
  }

  .box-text p{
    text-align: center;
    width: 90%;
    margin: 0 auto 4rem;
  }

  .text-p{
    flex-direction: column;
    margin: auto;
  }

  .text-p p{
    width: 80%;
  }

  .text-p img{
    width: 15px;
    height: 15px;
    margin-left: 6rem;
    margin-top: -2rem;
  }

  .puple-bg{
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .box-body{
    flex-direction: column;
    align-items: center;
  }

  .fl{
    flex-direction: column-reverse;
  }

  .bigIdea{
    width: 600px;
    height: 500px;
    margin-bottom: 2rem;
  }

  .lady-img img{
    width: 600px;
    height: 600px;
  }

  .star-p{
    left: 3rem;
    top: 6rem;
    height: 20px;
    width: 20px;
  }

  .arrow{
    width: 29px;
    height: 37px;
    left: 46%;
    bottom: -2rem;
  }

  .box-text{
    width: 100%;
    margin: 0;
  }

  .box-t{
    min-height: 55vh;
  }

  .text-head{
    width: 100%;
    margin-top: 2rem;
  }

  .th{
    width: 95%;
    height: auto;
  }

  .th h2{
    width: 350px !important;
  }

  .th .star{
    margin-bottom: 0;
  }
  .text-head h2{
    font-size: 30px;
    margin-bottom: 1rem;
    width: 400px;
    margin: auto;
    text-align: center;
  }

  .text-head .star{
    height: 15px;
    width: 15px;
    margin-right: .8rem;
    margin-left: 0;
  }

  .box-text p{
    text-align: center;
    width: 90%;
    margin: 0 auto 4rem;
    font-size: 20px;
    line-height: 2rem;
  }

  .text-p{
    flex-direction: column;
    margin: auto;
  }

  
  .text-p p{
    width: 80%;
  }

  .text-p img{
    width: 15px;
    height: 15px;
    margin-left: 6rem;
    margin-top: -2rem;
  }

  .puple-bg{
    display: none;
  }
}


/***********Criteria******************/

.criteria-container{
  display: flex;
}
.criteria-img{
  width: 45vw;
  margin: 2rem 0rem;
  position: relative;
}

.criteria-img .star{
  margin-left: 4rem;
}

.standing{
  margin-top: 2rem;
  width: 650px;
  height: 557px;
}

.criteria-img .str{
  position: absolute;
  left: 50%;
  top: 50%;
}

.bt-str .str2{
  display: none;
}

.criteria-img .str2{
  position: absolute;
  margin-right: -2rem;
  right: 0;
  bottom: 2rem;
}

.criteria-text{
  width: 40vw;
  position: relative;
  margin: 4rem auto;
  color: var(--primary-white);
}

.criteria-head h2{
  width: 250px;
  font-weight: 800;
}

.criteria-p{
  margin-top: 2rem;
}

.criteria-text .btnn{
  margin-top: 2rem;
}
.puple{
  background: url(../src/images/Purple-Lens-Flare-PNG.png) no-repeat;
  background-size: contain;
  background-position: center;
  height: 500px;
  width: 300px;
  position: absolute;
  bottom: -22rem;
  right: -5rem;
  opacity: .3;
}

@media screen and (max-width: 767px){
.criteria-img{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.criteria-img .star{
  height: 15px;
  width: 15px;
  margin: auto;
}

.criteria-img .standing{
    width: 340px;
    margin-left: calc((100% - 340px) / 2);
    height: 300px;
  }

  .criteria-img .str{
    left: 55%;
  }

  .criteria-img .str2{
    display: none;
    
  }

  .criteria-text{
    width: 100%;
    margin-top: -2rem;
  }

  .criteria-head h2{
    margin: auto;
    width: 200px;
    text-align: center;
    font-size: 20px;
  }

  .criteria-p{
    width: 90%;
    margin: 2rem auto 0;
    text-align: center;
    font-size: 15px;
  }
  
  .criteria-text .bt-str{
    display: flex;
  }

  .criteria-text .btnn{
    margin-top: 1rem;
    margin-left: calc((100% - 172px) / 2);
  }

  .bt-str .str2{
    width: 15px;
    height: 15px;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .criteria-img{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .criteria-img .star{
    height: 15px;
    width: 15px;
    margin: auto;
  }
  
  .criteria-img .standing{
      width: 440px;
      margin-left: calc((100% - 440px) / 2);
      height: 400px;
    }
  
    .criteria-img .str{
      left: 55%;
    }
  
    .criteria-img .str2{
      display: none;
    }
  
    .criteria-text{
      width: 100%;
      margin-top: -2rem;
    }
  
    .criteria-head h2{
      margin: auto;
      width: 300px;
      text-align: center;
      font-size: 30px;
    }
  
    .criteria-p{
      width: 90%;
      margin: 2rem auto 0;
      text-align: center;
      font-size: 15px;
    }
    
    .criteria-text .bt-str{
      display: flex;
    }
  
    .criteria-text .btnn{
      margin-top: 1rem;
      margin-left: calc((100% - 172px) / 2);
    }
  
    .bt-str .str2{
      width: 15px;
      height: 15px;
      margin-left: auto;
    }
  }



/***********FAQs******************/

.text-area{
  width: 40vw;
  position: relative;
  margin-top: 4rem;
  color: var(--primary-white);
}

.faq-head h2{
  margin-left: 4rem;
  margin-top: 1rem;
  width: 250px;
  font-weight: 800;
}

.faq-head p{
  width: 380px;
  margin-left: 4rem;
}

.txt{
  width: 420px;
  margin: 2rem 4rem;
}

.p-flex{
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem 0 ;
}

.p-flex::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  border-bottom: 1px solid var(--primary-pink);
}

.p-flex span{
  font-size: 1.2rem;
  font-weight: 800;
}

.image-area{
  margin: auto;
}

.top-img{
  display: flex;
  width: 400px;
  height: 120px;
  justify-content: space-around;
  margin-top: 3rem;
}

.questionMark{
  height: 71px;
  margin-top: auto;
}

.questionMarkp{
  margin-left: 1rem;
  height: 97px;
  margin-bottom: auto;
}

.top-img .star{
  width: 21px;
  height: 25px;
  margin: auto 0;
}

.main-img{
  display: flex;
  width: 700px;
  height: 700px;
  position: relative;
  right: 5rem;
  bottom: 3rem;
  background: url(../src/images/cwok_casual_21\ 1.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.main-img .star1{
  position: absolute;
  bottom: 22rem;
  left: 4rem;
  width: 26px;
  height: 32px;
}

.main-img .star2{
  position: absolute;
  top: 6rem;
  left: 10rem;
  width: 21px;
  height: 25px;
}

.main-img .star3{
  position: absolute;
  right: 10rem;
  bottom: 0;
  width: 26px;
  height: 32px;
}

.work{
  width: 641px;
  height: 641px;
  margin-left: -9rem;
}


@media screen and (max-width: 767px){
  .criteria-container{
    flex-direction: column;
  }

  .text-area{
    width: 100%;
  }

  .faq-head{
    width: 90%;
    margin: auto;
  }

  .star{
    height: 15px;
    width: 15px;
  }

  .faq-head h2{
    width: 60%;
    text-align: center;
    margin: 1rem auto;
  }

  .faq-head p{
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 1.8rem;
  }

  .txt{
    width: 80%;
    margin: 2rem auto;
  }

  .p-flex{
    align-items: center;
  }

  .top-img{
    width: 50%;
    margin-left: calc((100% - 50%) / 3);
  }

  .questionMark{
    height: 50px;
  }

  .questionMarkp{
    height: 77px;
    margin-top: auto;
  }

  .top-img .star{
    height: 18px;
    width: 20px;
  }

  .image-area{
    width: 100%;
  }
  .main-img{
    width: 90%;
    height: 310px;
    right: 0;
    margin-left: 5%;
    margin-top: 3rem;
  }

  .main-img .star1{
    bottom: 10rem;
    left: 1rem;
    height: 15px;
    width: 15px;
  }

  .main-img .star2{
    width: 15px;
    height: 15px;
    top: 5rem;
    left: 4rem;
  }

  .main-img .star3{
    height: 15px;
    width: 15px;
    right: 5rem;
    margin-bottom: -1rem;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px){
  .criteria-container{
    flex-direction: column;
  }

  .text-area{
    width: 100%;
  }

  .faq-head{
    width: 90%;
    margin: auto;
  }

  .star{
    height: 15px;
    width: 15px;
  }

  .faq-head h2{
    width: 60%;
    text-align: center;
    margin: 1rem auto;
  }

  .faq-head p{
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 1.8rem;
  }

  .txt{
    width: 80%;
    margin: 2rem auto;
  }

  .p-flex{
    align-items: center;
  }

  .main-img{
    top: -5rem;
  }


  .top-img{
    width: 50%;
    margin-left: calc((100% - 50%) / 3);
  }

  .questionMark{
    height: 60px;
  }

  .questionMarkp{
    height: 87px;
    margin-top: auto;
  }

  .image-area{
    width: 100%;
  }
  .main-img{
    width: 90%;
    height: 710px;
    right: 0;
    margin-left: 5%;
    margin-top: 3rem;
  }
}




/***********Timeline******************/
.time-line{
  min-height: 100vh;
}

.timeline-title{
  margin: 4rem auto;
  text-align: center;
  color: var(--primary-white);
}

.timeline-title h2{
  font-weight: 800;
  text-transform: capitalize;
}

.timeline-title p{
  margin: auto;
  width: 400px;
}

.timeline{
  margin: 4rem 0;
}

.timeline .star{
  margin-left: 15rem;
}

.schedule{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: end;
  width: 70vw;
  margin: 4rem 4rem ;
}

.schedule:nth-child(1) {
  margin-top: 10rem;
}

.schedule:nth-child(odd){
  margin-left: auto;
  width: 75vw;
  text-align: start;
  flex-direction: row-reverse;
}

.topic{
  width: 511px;
  margin-right: 1rem;
}


.topic span,
.topicN span{
  font-family: 'Yantramanav', sans-serif;
  font-weight: 600;
  font-size: 24px;

}

.topic p,
.topicN p{
  color: var(--primary-white);
  font-size: 16px;
}

.dates{
  display: flex;
  width: 25vw;
  margin-right: 2rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.datesN{
  display: flex;
  width: 30vw;
  margin-left: 1.4rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.dates span{
  width: 210px;
  text-align: start;
  font-size: 20px;
  font-weight: 500;
}

.datesN span{
  margin-left: 5rem;
  width: 210px;
  text-align: end;
  font-size: 20px;
  font-weight: 500;
}

.number{
  color: var(--primary-white);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
  width: 40px;
  background: linear-gradient(100deg, var(--primary-pink), var(--primary-purple), var(--primary-light-blue));
  border-radius: 50%;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  margin: 5px;
  position: relative;
  z-index: 1;
}

.number::before{
  content: '';
  position: absolute;
  display: block;
  border-right: 3px solid var(--primary-pink);
  left: 20px;
  bottom: 50px;
  width: 1px;
  height: 85px;
  z-index: -1;
}

@media screen and (max-width: 767px){
  .timeline-title{
    width: 80vw;
  }
  .timeline-title p{
    width: 100%;
  }

  .timeline{
    margin: 0;
  }

  .timeline .star{
    width: 15px;
    height: 15px;
    margin-top: -3rem;
    margin-left: 4rem;
  }

  .schedule{
    width: 90vw;
    margin: auto;
    flex-direction: column;
  }

  .schedule:nth-child(odd){
    margin: 1rem auto 0;
    padding-bottom: 2rem;
    width: 90vw;
    text-align: start;
    flex-direction: column;
  }

  .topic{
    margin: auto;
    width: 95%;
    margin-left: 2rem;
    text-align: start;
    line-height: 1.8rem;
  }
  .n3{
    margin-top: .8rem !important;
  }
  .dates{
    width: 100%;
    justify-content: start;
    margin-top: -1.4rem;
    margin-left: 1rem;
  }

  .datesN{
    flex-direction: row-reverse;
    width: 100%;
    margin-left: -1rem;
    margin-top: -1.4rem;
    align-items: center;
    justify-content: start;
  }

  .datesN span{
    margin-left: 0;
    text-align: start;
    margin-left: .2rem;
  }
  
  .date{
    margin-left: .2rem;
  }

  .number{
    font-size: 15px;
    height: 25px;
    width: 25px;
    line-height: 25px;
  }
  
  .number::before{
    left: 10px;
    bottom: 35px;
    width: 1px;
    height: 100px;
    z-index: -1;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px){
  .timeline-title{
    width: 80vw;
  }
  .timeline-title p{
    width: 100%;
  }

  .timeline{
    margin: 0;
  }

  .schedule{
    width: 90vw;
    margin: auto;
    padding-bottom: 5rem;
    flex-direction: column;
  }

  .schedule:nth-child(odd){
    margin: 1rem auto 0;
    padding-bottom: 5rem;
    width: 90vw;
    text-align: start;
    flex-direction: column;
  }

  .topic{
    margin: auto;
    width: 95%;
    margin-left: 2rem;
    text-align: start;
    line-height: 1.8rem;
  }
  .n5,
  .n3{
    margin-top: .8rem !important;
  }
  .dates{
    width: 100%;
    justify-content: start;
    margin-top: -1.4rem;
    margin-left: 1rem;
  }

  .datesN{
    flex-direction: row-reverse;
    width: 100%;
    margin-left: -1rem;
    margin-top: -1.4rem;
    align-items: center;
    justify-content: start;
  }

  .datesN span{
    margin-left: 0;
    text-align: start;
    margin-left: .2rem;
  }
  
  .date{
    margin-left: .2rem;
  }

  .number{
    font-size: 15px;
    height: 40px;
    width: 40px;
    line-height: 40px;
  }
  
  .number::before{
    left: 20px;
    bottom: 45px;
    width: 1px;
    height: 75px;
    z-index: -1;
  }
}




/***********Prizes******************/


.prize-box{
  min-height: 100vh;
}

.prize-container{
  margin: 0rem 4rem;
}


.prize-img{
  margin-bottom: auto;
  width: 540px;
  height: 442px;
}


.prizes{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prize-head{
  display: block;
  margin-top: 3rem;
  margin-right: 12rem;
  width: 380px;
  float: right;
  color: var(--primary-white);
  text-align: start;
}

.prize-head h2{
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 1rem;
  width: 200px;
}

.main-prize{
  height: 600px;
  width: 52vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.medal{
  border: 1px solid var(--primary-purple);
  background: var(--primary-blue-purple);
  height: 280px;
  width: calc((52vw - 6rem) / 3);
  margin-top: 8rem;
  border-radius: 10px;
  position: relative;
}

.medal-gold{
  border: 1px solid var(--primary-purple);
  height: 310px;
  width: calc((52vw - 6rem) / 3);
  margin-top: 8rem;
  border-radius: 10px;
  position: relative;
}

.silver,
.bronze{
  width: 179px;
  height: 180px;
  margin-left: .8rem;
  position: absolute;
  top: -5rem;
  left: 0;
}

.gold{
  width: 276px;
  height: 276px;
  position: absolute;
  top: -11rem;
  left: -2.2rem;
}

.prize-text{
  position: absolute;
  text-align: center;
  color: var(--primary-white);
  bottom: 3rem;
  width: 100%;
  right: 0;
}

.prize-text h2{
  font-weight: 800;
  font-size: 30px;
}

.prize-text p{
  font-size: 20px;
  margin-top: -1rem;
  margin-bottom: -.3rem;
}

.prize-text span{
  font-size: 30px;
  font-weight: 600;;
}

@media screen and (max-width: 767px){
  .prize-container{
    width: 100%;
    /* min-height: 110vh; */
    margin: auto;
  }

  .prize-head{
    display: block;
    width: 100%;
    margin: 2rem auto;
    text-align: center;
  }

  .prize-head h2{
    font-size: 26px;
    font-weight: 600;
    padding: 1rem;
    margin: auto;
  }

  .prize-head p{
    width: 90%;
    margin: auto;
  }

  .prizes{
    flex-direction: column;
  }
  .prize-img img{
    width: 321px;
    height: 282px;
    margin-left: calc((100% - 321px) / 2);
  }

  .main-prize{
    width: 90vw;
    height: 40vh;
    justify-content: space-between;
    margin-top: -1rem;
  }
  
  .medal{
    height: 200px;
    width: calc((90vw - 1rem) / 3);
    margin-top: -4rem;
    border-radius: 10px;
  }
  
  .medal-gold{
    border: 1px solid var(--primary-purple);
    height: 220px;
    width: calc((90vw - 1rem) / 3);
    margin-top: -4rem;
    border-radius: 10px;
  }
  
  .silver,
  .bronze{
    width: 109px;
    height: 110px;
    margin-left: calc((((90vw - 1rem) / 3) - (109px)) / 2);
    top: -4rem;
  }
  
  .gold{
    width: 140px;
    height: 150px;
    top: -5rem;
    left: calc((((90vw - 1rem) / 3) - (143px)) / 2);
  }
  
  .prize-text h2{
    font-size: 25px;
    padding-bottom: 5px;
  }
  
  .prize-text p{
    font-size: 18px;
  }
  
  .prize-text span{
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .prize-container{
    margin: 0rem 2rem;
  }

  .prize-head{
    display: block;
    margin: 3rem auto;
    width: 100%;
    text-align: center;
  }

  .prize-head h2{
    font-size: 26px;
    font-weight: 600;
    padding: 1rem;
    margin: auto;
  }

  .prize-head p{
    width: 350px;
    margin: auto;
  }

  .prizes{
    flex-direction: column;
  }
  .prize-img img{
    width: 381px;
    height: 342px;
    margin-left: calc((100% - 321px) / 2);

  }

  .main-prize{
    width: 60vw;
    justify-content: space-around;
    margin-top: -4rem;
  }
  
  .medal{
    height: 220px;
    width: calc((60vw - 2rem) / 3);
    margin-top: -4rem;
    border-radius: 10px;
  }
  
  .medal-gold{
    border: 1px solid var(--primary-purple);
    height: 220px;
    width: calc((60vw - 2rem) / 3);
    margin-top: -4rem;
    border-radius: 10px;
  }
  
  .silver,
  .bronze{
    width: 125px;
    height: 138px;
    margin-left: calc((((60vw - 2rem) / 3) - (128px)) / 2);
    top: -4rem;
  }
  
  .gold{
    width: 195px;
    height: 200px;
    top: -8rem;
    left: calc((((60vw - 2rem) / 3) - (198px)) / 2);
  }
  
  .prize-text h2{
    font-size: 27px;
  }
  
  .prize-text p{
    font-size: 15px;
  }
  
  .prize-text span{
    font-size: 20px;
  }
}



/***********Sponsor******************/

.sponsor-body{
  height: 90vh;
}

.sponsor-head{
  width: 600px;
  height: 200px;
  margin: auto;
  padding-top: 4rem;
  text-align: center;
  color: var(--primary-white);
}

.sponsor-head h2{
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 1rem;
}

.sponsor-head p{
  width: 500px;
  margin: auto;
  font-size: 14px;
}


.grid-container{
  width: 90vw;
  height: 50vh;
  margin: 2rem auto;
  border: 1px solid var(--primary-light-blue);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 257px);
  grid-template-rows: repeat(2, 135px);
  width: 771px;
  margin: auto;
  margin-top: 3rem;
  
 }

 .grid-area {
  padding: 50px 25px;
  text-align: center;
  position: relative;
 }

 .grid-area-1::before{
  content : "";
  position: absolute;
  right: -2px;
  top: calc(20% / 2);
  height: 80%;
  border-right: 3px solid var(--primary-light-blue);
 }

 .grid-area-1 img{
  width: 100px;
  height: 90px;
  margin-top: -1.5rem;
 }

 .grid-area-2::before{
  content : "";
  position: absolute;
  left: calc(10% / 2);
  bottom: -2px;
  width: 90%;
  border-bottom: 3px solid var(--primary-light-blue);
 }

 .grid-area-2 img{
  width: 200px;
  height: 40px;
 }

 .grid-area-3::before{
  content : "";
  position: absolute;
  left: -2px;
  top: calc(20% / 2);
  height: 80%;
  border-left: 3px solid var(--primary-light-blue);
 }

 .grid-area-3 img{
  width: 130px;
  height: 90px;
  margin-left: -2rem;
  margin-top: -2rem;
 }

 .grid-area-4::before{
  content : "";
  position: absolute;
  right: calc(10% / 2);
  top: -2px;
  width: 90%;
  border-top: 3px solid var(--primary-light-blue);
 }

 .grid-area-4 img{
  width: 140px;
  height: 100px;
  margin-top: -2rem;
 }

 .grid-area-5::before{
  content : "";
  position: absolute;
  right: -2px;
  top: calc(20% / 2);
  left: -2px;
  bottom: 0;
  height: 80%;
  border-right: 3px solid var(--primary-light-blue);
  border-left: 3px solid var(--primary-light-blue);
 }

 .grid-area-6::before{
  content : "";
  position: absolute;
  left: calc(10% / 2);
  top: -3px;
  width: 80%;
  border-top: 3px solid var(--primary-light-blue);
 }


 .grid-area-6 img{
  width: 190px;
  height: 30px;
 }

 @media screen and (max-width: 767px){
  .sponsor-head{
    width: 80%;
    padding-top: 3rem;
  }

  .sponsor-head h2{
    font-size: 29px;
  }


  .sponsor-head p{
    width: 90%;

  }


  .grid-container{
    width: 90%;
    height: 36%;
  }
  .grid{
    width: 90%;
    height: 200px;
    margin-top: 2.5rem;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 40%);
  }
  .grid-area{
    padding: 0;
  }

  .grid-area-1 img{
    width: 50px;
    height: 40px;
    margin-top: 1rem;
   }

  .grid-area-2 img{
    width: 60px;
    height: 20px;
    margin-top: 2rem;
   }

  .grid-area-3 img{
    width: 45px;
    height: 35px;
    margin-top: 1rem;
    margin-left: -12px;
   }

  .grid-area-4 img{
    width: 45px;
    height: 35px;
    margin-top: 1rem;
    margin-left: 5px;
   }

  .grid-area-5 img{
    width: 55px;
    height: 20px;
    margin-top: 1.5rem;
   }

  .grid-area-6 img{
    width: 75px;
    height: 20px;
    margin-top: 1.5rem;
    margin-left: -5px;
   }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px){
    .sponsor-head{
      width: 80%;
      margin-top: 5rem;
      padding-top: 3rem;
    }
  
    .sponsor-head h2{
      font-size: 40px;
      padding: 1rem;
    }
  
    .sponsor-head p{
      width: 100%;
      font-size: 25px;
      font-weight: 300;
    }
  
    .grid-container{
      width: 80%;
      height: 230px;
      margin-top: 7rem;
    }
    .grid{
      width: 90%;
      height: 200px;
      margin-top: 2.5rem;
      grid-template-columns: repeat(3, 33%);
      grid-template-rows: repeat(2, 40%);
    }
    .grid-area{
      padding: 0;
    }
  
    .grid-area-1 img{
      width: 50px;
      height: 40px;
      margin-top: 1rem;
     }
  
    .grid-area-2 img{
      width: 60px;
      height: 20px;
      margin-top: 2rem;
     }
  
    .grid-area-3 img{
      width: 45px;
      height: 35px;
      margin-top: 1rem;
      margin-left: -12px;
     }
  
    .grid-area-4 img{
      width: 45px;
      height: 35px;
      margin-top: 1rem;
      margin-left: 5px;
     }
  
    .grid-area-5 img{
      width: 55px;
      height: 20px;
      margin-top: 1.5rem;
     }
  
    .grid-area-6 img{
      width: 75px;
      height: 20px;
      margin-top: 1.5rem;
      margin-left: -5px;
     }
  }